<div class="json-editor heading">
    <label>{{name}}</label>
    <span ng-show="type != 'object' && type != 'array' "><input  type="text" ng-model="content">{{content | json}}</span>
    <button ng-click="dd()">x</button>
</div>
<ul ng-if="type == 'object'">
    <li ng-repeat="(key, value) in content" >
        <json-editor content="content[key]" name="key" dd="delete_item(key)"></json-editor>
    </li>
</ul>
<ul ng-if="type == 'array'">
    <li ng-repeat="value in content track by $index">
        <json-editor content="content[$index]" name="$index" dd="delete_item($index)"></json-editor>
    </li>
</ul>